#contenedor_paquetes{
	position: absolute;
	width: 900px;
	height: 355px;
	
}
#bronce{
	position: absolute;
	left: 10px;
	width: 250px;
	height: 350px;
	
	
}
#plata{
	position: absolute;
	left: 310px;
	width: 250px;
	height: 350px;
	
	
}
#oro{
	position: absolute;
	left: 610px;
	width: 250px;
	height: 350px;
	
	
}


.titulo{
	background: rgba(164, 178, 255, 0.3);
	width: 235px;
	position: absolute;
	height: 50px;
	text-align: center;
	line-height: 50px;
	box-shadow:   0px 5px 5px rgba(0, 0, 0, 0.50);
	z-index: 2;
	left: 8px;
	top: 5px;
	font-family: 'Lilita One', cursive;
	font-size: 25px;
	color: black;
}.cuerpo{
	
	font-weight: bold;
	left: 11px;
	width: 230px;
	color: black;
	/*background: rgba(0, 0, 0, 0.2);*/
	height: 250px;
	position: absolute;
	top: 60px;
	font-size: 12px;
	/*text-shadow: 1px 0px 2px rgba(0, 0, 0, 1);*/
	text-align: left;
}
.cuerpo li{
	margin-top: 5px;
	list-style: none;
}
.cuerpo a{
	font-weight: bold;
	color: black;
}
.precio{
	position: absolute;
	color: black;
	font-size: 20px;
	font-weight: bold;
	top: 240px;
	left: 10px;
	
	width: 210px;
	text-align: right;
	border-radius: 0px 0px 50px 50px;
	height: 30px;
	line-height: 60px;


}
.ver_mas{
	width: 75px;
	height: 30px;
	
	position: absolute;
	top: 350px;
	left: 85px;
	z-index: 2;
	border-radius: 0px 10px 0px 10px;
	line-height: 30px;
	text-align: center;
	
	
}
.ver_mas a{
	font-weight: bold;
	color: black;
	text-decoration: none;
}