#titulo_planes{
	position: absolute;
	top: 15px;
	height: 40px;
	width: 400px;
	background: rgba(88,162,60,0.5);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.73);
	left: 0px ;
	cursor: hand;
	font-family: 'Wellfleet', cursive;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
#titulo_planes:after{
	 content:'';
    border-color:  transparent transparent transparent #414964;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;
    border-style:solid;
    height:0;
    width:0;
    position:absolute;
    display:block;
    left:100%;
    top:0px;

}
#titulo_paquetes{
	position: absolute;
	top: 15px;
	height: 40px;
	width: 400px;
	background: rgba(88,162,60,0.5);
	box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.73);
	float: right;
	cursor: hand;
	right: -395px;
	font-family: 'Wellfleet', cursive;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
#titulo_paquetes:after{
	 content:'';
    border-color:   transparent #414964 transparent transparent;
    border-style: solid;
    border-width: 20px;
    height: 0;
    width: 0;;
    border-style:solid;
    height:0;
    width:0;
    position:absolute;
    display:block;
    left:-40px;
    top:0px;

}
#contenedor_planes{
	width: 900px;
	height: 80%;
	top: 70px;
	position: relative;
	display: block;
	

}
	.planes{
		display: inline-block;
		height: 100%;
		width: 250px;
		margin-left: 37.5px;
		
		position: relative;
		top: 0px;
		/*box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.73);*/

	}

			.titulo_planes_paquetes{
				background: white;
				height: 35px;
				width: 80%;
				margin: 0 auto;
				box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
				line-height: 35px;

			}
#contenedor_paquetes{
	width: 900px;
	height: 80%;
	margin-top: 70px;
	position: relative;
	display: none;

}